.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  font-family: sans-serif;
  font-size: 28px;
  margin: 20px;
  border: 1px solid #524f4e;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1);
}
